<td class="table-division">
  <div>{{this.created_at}}</div>
</td>
<td class="table-division">
  <div>{{this.obectives}}</div>
</td>
<td class="table-division">
  <div>{{this.total_revenue}}</div>
</td>
<td class="table-division">
  <div>{{this.areas}}</div>
</td>
 <td class="table-division">
  <div>{{this.construction_works}}</div>
</td>
 <td class="table-division">
  <div><a href="/{{this._id}}" class="fas fa-cart-arrow-down" ></a></div>
</td>

